.spedizione {
  background-color: #002d53;
  text-align: center;
  margin: 0px;
}

.menuCentrale{
  background-color: #ffffff;
  width: 80%;
  max-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.menuCentrale a{
  margin: 15px;
  margin-top: 20px;
  color: #002d53;
}
.logo {
  width: 13%;
  background-color: white;
  
}
.pulsante{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 40px;
  height: 30px;
  max-width: 40px;
  max-height: 30px;
  margin-left: 1%;
  display: none;
  text-align: center;
}
.pulsante span{
  
  background-color:rgb(49, 9, 9);
  width: 60%;
  height: 7%;
  margin: 3px;
  position: absolute;
}

section {
  max-height: 65px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 5vh;
  z-index: 1;
  width: 100vw;

 
}
#menuDestra {
  width: 13%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  font-size: 10px;
  background-color: white;
}
#menuDestra > * {
  width: 50%;
  height: 50%;
  padding-top: 5px;
}
.logo img {
  margin-right: 10px;
  min-width: 15%;
  
}
.menuLaterale{
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  top: 13vh;
  left: -100vw;
}
.menuLaterale ul{
  list-style-type:  none; 
}
.menuLaterale ul li{
  border-bottom: solid 1px  gray;
  width: 90vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  
  
}
.menuLaterale ul li a {
  color: #002d53;
  text-decoration: none;
}
.menuLaterale ul li embed {
 
}
.carosello1{
  position: relative;
  top:10vh;
}
@media screen and (max-width: 995px) {
  .pulsante{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
  }
  .prima{
    display: block;
    top: 20%;
  }
  .sconda{
    top:50%;
    display: block;
  }
  .terza{
    top: 80%;
    display: block;

  }
  .primaS{
    display: none;
  }
  .secondaS{
    top:50%;
    transform: rotate(45deg);
  }
  .terzaT{
    top: 50%;
    transform: rotate(-45deg);
  }
  .logo img {
    margin-right: 10px;
    width: 20%;
    height: 6%;
    position: fixed;
    }

  .menuCentrale{
    display: none;
  }
  .logo {
    order: 2;
    width: 85%;
    text-align: center;
  }
  
  #menuDestra {
    order: 3;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    max-height: 80px;
  }
  .local,
  .user,
  .paese,
  .customer {
    display: none;
  }
  .recherche,
  .user {
    position: fixed;
  }
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .detail > * {
    margin: 10%;
    font-size: 13px;
  }

  .imgcaro {
  width: 100%;
  height: 100%;
}

}
.carosello1 {
  height: 100%;
}
.fa-chevron-left   {
  color:black;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 96%;
}
.fa-chevron-right   {
  color:black;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 96%;
}
.fa-chevron-circle-left  {
  color:black;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 93%;
}
 .fa-chevron-circle-right {
  color:black;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 96%;
}
.imgcaro {
  width: 100%;
  height: 100%;
}
.carosseloResp {
  
  margin-top: 50px;

  
}
.carosello2 {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4px;
  
}
.imgCarosello2 {
  
  width: 100%;
  max-height: 100%;
}
.detail {
  margin-top: 20px;
  
  width: 49%;
  height: 100%;
}
.detail > * {
  margin: 10%;
}
.aside {
  
}
.carosello2 > * {
  width: 40%;
}
.slick-initialized .slick-slide {
  display: flex;
}
